<!-- main / signup.html -->
{% extends "main/base.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Sign up
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 pt-5">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form register_form layout='floating' %}
                            {% bootstrap_button button_type="submit" content="Sign up" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
