@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bg-textcolor:#d0d6fa;
    --bg-main:#543e81;
    --hover-color:#b89348;
    --hover-color2:#614c21;
    /* --bg-main:#427D9D;
    --hover-color:#9BBEC8; */
    --text-hover:rgb(0, 0, 0);
    --background: #060606;
    --form:#7e7e7e;
}
.dark-mode{
    --background: #e6e6e6;
    --bg-textcolor:#000000;
    --form:#b1b0b0;
}
body{
    background-color: var(--background);
    color: var(--bg-textcolor);
}
html{
   overflow-x: hidden;
}
.logo{
    font-size: 1rem;
}
span{
    color:var(--bg-main);
    font-size: 45px;
    text-shadow: 1px 1px #1e1e22;
}

.container-fluid{
    padding-left: 5rem;
    margin-top: 2rem;
    /* margin: 10px 20px; */
}
.user_name{
    font-size: 2rem;
    font-weight: 600;
}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 5rem;
}
.navlinks li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-right: 2rem;
    
    
}
.navlinks li a{
    color: var(--bg-textcolor);
    font-size: 18px;
    position: relative;
    text-decoration: none;
    
}
.navlinks li a:hover{
    color:var(--bg-main) ;
}
.navlinks li a {
    position: relative;
    cursor: pointer;
}
.navlinks li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--hover-color);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all 0.3s ease-in-out 0s;
}
   
.navlinks li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
/* navbar dark and light mode */
.navlinks li i.fa-solid{
    font-size: 30px;
}
#darkMode-icon{
    font-size: 2rem;
}
.btn{
    background-color: var(--bg-main);
    color: var(--bg-textcolor);
    border: none;
    width: 8rem;
}
.btn:hover{
    background-color: var(--hover-color);
    color: var(--text-hover);
}


/* file upload */
.uploadSection{
    padding-top: 5rem;
    height: 84vh;
}
/* dashboard processed data */

.analysis{
    border: 2px solid red;
    background-color:rgb(0, 255, 4);
}
.subheading{
    font-size: 40px;
}
.box-data{
    margin-top: 5rem;
    /* padding: 20px; */
    /* margin: 10px; */
    /* border: 1px solid green; */
}
.box-data h3{
    font-size: 1.2rem;
    color: var(--hover-color);
    text-transform: capitalize;
    /* margin-bottom: 3rem; */
}
.records{
    list-style: square;
}
.records li a{
    text-decoration: none;
    color: var(--bg-textcolor);
    
}
.records li a:hover{
   color: var(--bg-main);
}

  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%;visibility: hidden; }
    
  }
  @keyframes load1 {
    0% {  }
    100% { visibility: hidden; }
    
  }
   */
  /* report table */

.table tr th{
    text-align: center;
}
td{
    text-align: center;
}

/* responsive background image */
@media (max-width: 600px) {
    /* Adjust styles for small screens */
    body{
        background-image: url();
    }
    html{
        overflow-x: hidden;
    }
}


/* welcome screen user name animation */
.welcome-section {
    position: absolute;
    width: 100%;
    height: 85vh;
    top: 6rem;
    left: 0;
    overflow: hidden;
    background-image: url("../img/backgroundAnalysisImage3.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-section .content-wrap {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.welcome-section .content-wrap .fly-in-text {
    list-style: none;
}
.welcome-section .content-wrap .fly-in-text li {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    color: var(--bg-textcolor);
    opacity: 1;
    transition: all 2s ease;
}
.welcome-section .content-wrap .fly-in-text li:last-child {
    margin-right: 0;
}
.welcome-section .content-wrap .enter-button {
    display: block;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bg-main);
    opacity: 1;
    transition: all 1s ease 2s;
}
.fly-in-text li{
    color: var(--bg-main);
}

.welcome-section.content-hidden .content-wrap .fly-in-text li { opacity: 0; }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1) { transform: translate3d(-100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2) { transform: translate3d(100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .enter-button { opacity: 0; transform: translate3d(0, -30px, 0); }

@media (min-width: 800px) {
    .welcome-section .content-wrap .fly-in-text li { font-size: 5rem; }
    .welcome-section .content-wrap .enter-button { font-size: .5rem; }
}


/* choose file  */



/* login form  */
.loginFormBox{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 5px solid var(--hover-color);
    /* box-shadow: 0 0 20px var(--hover-color); */
    padding: 1rem;
    background-color: var(--bg-main);
    border-radius: 20px;
    color: var(--bg-textcolor);
    overflow: hidden;
}
.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}
.form-box h2{
    font-size: 32px;
    color: var(--hover-color);
    text-align: center;
    text-shadow: 2px 2px #000000;
    padding-top: 2rem;
}
.input-box{
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.input-box .btn{
   background-color: var(--hover-color);
   color: #000000;
   border: none;
   width: 10rem;
    padding-top: 1rem;
}
.input-box .btn:hover{
    background-color: var(--hover-color2);
}
.logreg-link{
    padding-top: 1.5rem;
}
.logreg-link p{
    font-size: .8rem;
}
.logreg-link a{
    text-decoration: none;
    color: var(--hover-color);
    font-size: 1rem;
}
.wrapper .info-text{
    position: absolute;
    top: 40%;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    
}
.wrapper .info-text.login{
    right: 0;
    /* text-align: right;
    padding: 40px 40px 60px 150px; */
   
}
.info-text h2{
    font-size: 36px;
    color: var(--hover-color);
    line-height: 1.3;
    text-transform: uppercase;
    
}
.info-text p{
    font-size: 16px;
    color: var(--bg-textcolor);
    padding: 0 2rem;
}



/* registeration form  */
.registerFormBox{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.regwrapper{
    position: relative;
    width: 750px;
    height: 861px;
    background: transparent;
    border: 5px solid var(--hover-color);
    /* box-shadow: 0 0 20px var(--hover-color); */
    padding: 1rem;
    background-color: var(--bg-main);
    border-radius: 20px;
    color: var(--bg-textcolor);
    overflow: hidden;
}
.regwrapper .regform-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    /* background: red; */
}
.regform-box h2{
    font-size: 32px;
    color: var(--hover-color);
    text-align: center;
    text-shadow: 2px 2px #000000;
    padding-top: 2rem;
}

.regwrapper .info-text{
    position: absolute;
    top: 40%;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    
}
.regwrapper .info-text.login{
    right: 0;
    /* text-align: right;
    padding: 40px 40px 60px 150px; */
   
}

/* dashboard button */
.toDashboard{
    width: 15rem;
}
.uploadtitle{
    color: var(--hover-color);
}
.uploadedFile{
    color: var(--hover-color);
}

/* reports in upload section */
.reportsTableBox h3{
    color: var(--hover-color);
    margin-bottom: 3rem;
    font-size: 2rem;
    text-shadow: 1px 1px #000000;;
}
.reportsTableBox p{
    font-size: 1rem;
    margin-bottom: 3rem;
}
.reportsTable td, th{
    border-bottom: 2px solid var(--bg-textcolor);
    padding: 1rem;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.reportsTable .viewReport{
    background-color:var(--hover-color2);
}
.text-justify{
    text-align: justify;
}
.dashboardBox{
    margin-bottom: 5rem;
}
.dashboardBox h2{
    color: var(--hover-color);
}


/* donwload button in dashboard */
.actions{
    display: flex;
    justify-content: space-between;
}
.download{
    width: 20rem;
}

/* user file upload */
.userFileUpload{
    margin-bottom: 5rem;
}


/* tain ml mode */
thead{
    font-size: 1rem;
    font-weight: 700;
    color: var(--hover-color2);
}
.trainmlheading{
    color: var(--hover-color);
    margin-top: 3rem;
}
#trainMlTable1{
    display: none;
}
.trainMlTable2 h3{
    color: var(--hover-color);
    padding-top: 3rem;
}
.trainMlTable2 .table2{
    background-color: var(--form);
    overflow-x: scroll;
}
/* .table2::-webkit-scrollbar{
    display: none;
} */
.trainMlTable3 table{
    background-color: var(--form);
}
.trainMlTable3 h3{
    color: var(--hover-color);
    padding-top: 3rem;
}
.trainMlTable4 h3{
    color: var(--hover-color);
    padding-top: 3rem;
}
.trainMlTable5 h2{
    color: var(--hover-color);
}

/* charts */

.charts h3{
    color: var(--hover-color);
    padding-bottom: 2rem;
}
.charts h5{
    color: var(--hover-color2);
}
.charts h4{
    color: var(--form);
}
.steps{
    color: rgb(179, 3, 3);
}
.datasetTable table{
    background-color: var(--form);
}

.gaussian{
    color: var(--hover-color2);
}
.anomalies h3{
    color: var(--hover-color);
    padding-top: 2rem;
}
.anomalies table{
    background-color: var(--form);
}
/* customer select drop down in run ml mode */

.runMlModel h3{
    color: var(--hover-color);
}
.runMlModel table{
    background-color: var(--form);
}


#nameOrig{
    background-color: var(--form);
    color: var(--text-hover);
    border-radius: 10px;
    margin-left: 1rem;
}

/* time in navbar */

#clock {
    font-size: 1rem;
    width: 115px;
    text-align: center;
    border-radius: 20px;
    color:var(--bg-textcolor);
    /* background-color: var(--bg-main);
    border: 4px solid var(--hover-color);
 */
}