@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bg-textcolor:#d0d6fa;
    --bg-main:#543e81;
    --hover-color:#b89348;
    /* --bg-main:#427D9D;
    --hover-color:#9BBEC8; */
    --text-hover:rgb(0, 0, 0);
    --background: #060606;
    --form:#d0d6fa;
}
.dark-mode{
    --background: #ffffff;
    --bg-textcolor:#000000;
}
body{
    background-color: var(--background);
    color: var(--bg-textcolor);
    background-image: url("../img/backgroundAnalysisImage.PNG");
    background-size: cover;
    background-repeat: no-repeat;

}
html{
   overflow-x: hidden;
}
.logo{
    font-size: 1rem;
}
span{
    color:var(--bg-main);
    font-size: 45px;
    text-shadow: 1px 1px #1e1e22;
}
.container-fluid{
    padding-left: 5rem;
    margin-top: 2rem;
    /* margin: 10px 20px; */
}
.user_name{
    font-size: 2rem;
    font-weight: 600;
}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 5rem;
}
.navlinks li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-right: 2rem;
    
    
}
.navlinks li a{
    color: var(--bg-textcolor);
    font-size: 18px;
    position: relative;
    text-decoration: none;
    
}
.navlinks li a:hover{
    color:var(--bg-main) ;
}
.navlinks li a {
    position: relative;
    cursor: pointer;
}
.navlinks li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--hover-color);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all 0.3s ease-in-out 0s;
}
   
.navlinks li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
/* navbar dark and light mode */
.navlinks li i.fa-solid{
    font-size: 30px;
    color: bg;
}
.btn{
    background-color: var(--bg-main);
    color: var(--bg-textcolor);
}
.btn:hover{
    background-color: var(--hover-color);
    color: var(--text-hover);
}
.delete-btn{
    background-color: rgb(250, 18, 18);
}
.delete-btn:hover{
    color: var(--text-hover);
    background-color: rgb(185, 6, 6);
}
.dropdown-menu{
    border: none;
}
/* file upload */
.fileupload{
    /* background-color: red; */
    height: 90vh;
}
.upload-box{
    font-size: 16px;
    background: #fff;
    border-radius: 50px;
    width: 550px;
    outline: auto;
}
::-webkit-file-upload-button{
    color: #000;
    background: var(--bg-main);
    padding: 20px;
    border: none;
    outline: none;
}
::-webkit-file-upload-button:hover{
    background-color: var(--hover-color);
    color: var(--text-hover);
}


/* dashboard processed data */

.analysis{
    border: 2px solid red;
    background-color:rgb(0, 255, 4);
}
.subheading{
    font-size: 40px;
}
.box-data{
    padding: 20px;
    margin: 10px;
    border: 1px solid green;
}
.records{
    list-style: square;
}
.records li a{
    text-decoration: none;
    color: var(--bg-textcolor);
    
}
.records li a:hover{
   color: var(--bg-main);
}
/* upload button */
.upload{
    margin: 2rem;
    transition: .5s ease-in-out;
}
.upload:hover{
    background-color: var(--hover-color);
    color: var(--text-hover);
}

/* uploading */
.progress {
    animation: load1 3s normal forwards;
    background:var(--hover-color);
    /* background-color: transparent; */
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 40px;
    width: 500px;
    display: none;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #ffffff;
    border-radius: 100px;
    background: var(--bg-main);
    height: 40px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%;visibility: hidden; }
    
  }
  @keyframes load1 {
    0% {  }
    100% { visibility: hidden; }
    
  }
  
  /* report table */

.table tr th{
    text-align: center;
}
td{
    text-align: center;
}

/* responsive background image */
@media (max-width: 600px) {
    /* Adjust styles for small screens */
    body{
        background-image: url(images/Mobile\ bg.png);
    }
    html{
        overflow-x: hidden;
    }
}


/* welcome scrren user name animation */
.welcome-section {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 3rem;
    left: 0;
    overflow: hidden;
}
.welcome-section .content-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.welcome-section .content-wrap .fly-in-text {
    list-style: none;
}
.welcome-section .content-wrap .fly-in-text li {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    color: var(--bg-textcolor);
    opacity: 1;
    transition: all 2s ease;
}
.welcome-section .content-wrap .fly-in-text li:last-child {
    margin-right: 0;
}
.welcome-section .content-wrap .enter-button {
    display: block;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bg-main);
    opacity: 1;
    transition: all 1s ease 2s;
}
.fly-in-text li{
    color: var(--bg-main);
}

.welcome-section.content-hidden .content-wrap .fly-in-text li { opacity: 0; }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1) { transform: translate3d(-100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2) { transform: translate3d(100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .enter-button { opacity: 0; transform: translate3d(0, -30px, 0); }

@media (min-width: 800px) {
    .welcome-section .content-wrap .fly-in-text li { font-size: 5rem; }
    .welcome-section .content-wrap .enter-button { font-size: .5rem; }
}


/* choose file  */



/* login form  */
.loginFormBox{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 5px solid var(--hover-color);
    /* box-shadow: 0 0 20px var(--hover-color); */
    padding: 1rem;
    background-color: var(--bg-main);
    border-radius: 20px;
    color: var(--bg-textcolor);
    overflow: hidden;
}
.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    /* background: red; */
}
.form-box h2{
    font-size: 32px;
    color: var(--hover-color);
    text-align: center;
    text-shadow: 2px 2px var(--background);
    padding-top: 2rem;
}
.input-box{
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.input-box .btn{
   background-color: var(--hover-color);
   color: var(--background);
   border: none;
   width: 10rem;
    padding-top: 1rem;
}
.input-box .btn:hover{
    background-color: var(--bg-textcolor);
}
.logreg-link{
    padding-top: 1.5rem;
}
.logreg-link p{
    font-size: .8rem;
}
.logreg-link a{
    text-decoration: none;
    color: var(--hover-color);
    font-size: 1rem;
}
.wrapper .info-text{
    position: absolute;
    top: 40%;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    
}
.wrapper .info-text.login{
    right: 0;
    /* text-align: right;
    padding: 40px 40px 60px 150px; */
   
}
.info-text h2{
    font-size: 36px;
    color: var(--hover-color);
    line-height: 1.3;
    text-transform: uppercase;
    
}
.info-text p{
    font-size: 16px;
    color: var(--bg-textcolor);
    padding: 0 2rem;
}



/* registeration form  */
.registerFormBox{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regwrapper{
    position: relative;
    width: 750px;
    height: 861px;
    background: transparent;
    border: 5px solid var(--hover-color);
    /* box-shadow: 0 0 20px var(--hover-color); */
    padding: 1rem;
    background-color: var(--bg-main);
    border-radius: 20px;
    color: var(--bg-textcolor);
    overflow: hidden;
}
.regwrapper .regform-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    /* background: red; */
}
.regform-box h2{
    font-size: 32px;
    color: var(--hover-color);
    text-align: center;
    text-shadow: 2px 2px var(--background);
    padding-top: 2rem;
}
.input-box{
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.input-box .btn{
   background-color: var(--hover-color);
   color: var(--background);
   border: none;
   width: 10rem;
    padding-top: 1rem;
}
.input-box .btn:hover{
    background-color: var(--bg-textcolor);
}
.logreg-link{
    padding-top: 1.5rem;
}
.logreg-link p{
    font-size: .8rem;
}
.logreg-link a{
    text-decoration: none;
    color: var(--hover-color);
    font-size: 1rem;
}
.regwrapper .info-text{
    position: absolute;
    top: 40%;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    
}
.regwrapper .info-text.login{
    right: 0;
    /* text-align: right;
    padding: 40px 40px 60px 150px; */
   
}
.info-text h2{
    font-size: 36px;
    color: var(--hover-color);
    line-height: 1.3;
    text-transform: uppercase;
    
}
.info-text p{
    font-size: 16px;
    color: var(--bg-textcolor);
    padding: 0 2rem;
}
