<!-- login.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 pt-5">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form login_form layout='floating' %}
                            {% bootstrap_button button_type="submit" content="Login" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
