<!-- upload.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
    Upload
{% endblock title %}
{% block content %}
    <div>
        {% if uploaded_file_details is None %}
            <div class="row">
                <form id="file-upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_messages %}
                    <p>Upload the file to be analysed</p>
                    {% bootstrap_form file_upload_form layout='floating' %}
                    {% bootstrap_button button_type="submit" content="Upload" %}
                </div>
            </form>
        {% else %}
            <div>
                <p>Uploaded file details</p>
            </div>
        {% endif %}
        {% if uploaded_file_details %}
            <div>
                <p>Uploaded file size: {{ uploaded_file_details.file_size|filesizeformat }}</p>
                <button class="btn btn-success"
                        onclick="location.href='{% url 'dashboard' file_id=uploaded_file_details.file_id|default:"" %}'">
                    Go to Dashboard
                </button>
            </div>
        {% endif %}
        {% if user_reports %}
            <div>
                <h3>Your Reports:</h3>
                <ul>
                    {% for report in user_reports %}
                        <li>
                            <a href="{% url 'get_report' report_id=report.id %}">Report for {{ report.file_id.file_id }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock content %}
